.body_login{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../public/back.jpg');
    animation: infinite 50s alternate-reverse linear;
    animation-name: body_login_animation;
    background-color: #4b4b4b;
    background-blend-mode: overlay;
}

@keyframes body_login_animation {
    from {background-position-x: 0%;}
    to {background-position-x: 51%;}
}

.ad_logo{
    box-shadow: black 0 0 .5em;
    width: 8em;
    height: 8em;
    border-radius: 100%;
    overflow: hidden;
}
.ad_logo img{
    width: 8em;
    height: 8em;
}